.footer{
  background-color: #1c6041;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  padding: 42px 60px;
  @media (max-width: 991px) {
    padding: 0 20px;
  }
}

elementsInFooter {
  display: flex;
  flex-direction: column; /* Ensures elements stack vertically */
}

.footerPages {
  display: flex;
  align-items: center;
  margin: 0 10px; /* Adjust this value as needed */
}

.footerPage {
  margin: 0 10px; /* Adjust this value as needed */
  font-family: Inter, sans-serif;
  color: #FFFFFF;
}

.madeToronto,
.trashifyExistance {
  margin-top: 20px; /* Add spacing between these divs */
}